.header-login .message {
  font-size: 16px;
  font-weight: 500;
}

.theme-color {
  background-color: #32C43B;
  border: 1px solid #32C43B;
}
.red-text {
  color: #32C43B;
}

.margin-right {
  right: 0;
}

.themeColor{
  background-color:#32C43B;
  border-color: #32C43B;
  color: #eaeaeb;
}

.themeColor:hover{
  background-color: #2AA952;
  border-color: #2AA952;
}

.greyColorButton{
  color: #32C43B;
  border: 1px solid #9B9B9B;
  background-color: transparent;
}

.greyColorButton:hover{
  background-color: transparent;
  border: 1px solid #2AA952;
  color: #32C43B;
}

.greyColorButton:focus-within{
  background-color: transparent;
  border: 1px solid  #32C43B;
  color: #32C43B;
}

h4{
  font-weight: 500;
}

.cardTitle{
  font-weight: 500;
  font-size: 16px;
}

.cardPrice{
  font-weight: 500;
  font-size: 16px;
  color:  #32C43B;
}

.cardStore{
  font-weight: 500;
  font-size: 12px;
  color: #9B9B9B;
}

.newThings{
  font-weight: 700;
  font-size: 34px;
}

.greyText{
  font-weight: 400;
  font-size: 12px;
  color: #9B9B9B;
}

.borderImage1{
  border: 1px solid #CC0B04;
  background-color: #CC0B04;
  height: 220px;
}

.borderImage2{
  border: 1px solid #1C3391;
  background-color: #1C3391;
  height: 220px;
}

.borderImage3{
  border: 1px solid #F67B02;
  background-color: #F67B02;
  height: 220px;
}

.borderImage4{
  border: 1px solid #E31F51;
  background-color: #E31F51;
  height: 220px;
}

.borderImage5{
  border: 1px solid #57CD9E;
  background-color: #57CD9E;
  height: 220px;
}

.next-icon{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  right: 0%;
}

.divRow{
  position: relative;
}

.nextCarousel{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 6%;
  top: 35%;
}

.prevCarousel{
  width: 40px;
  height: 40px;
  position: absolute;
  left: 7%;
  top: 35%;
  transform: rotate(180deg);
}

.divImg{
  position: relative;
}

.pAbsolute{
  position: absolute;
  top: 35%;
  font-weight: 700;
  font-size: 38px;
  color: white;
}

.search-wrapper{
  position: relative;
}

.form-inline .search-wrapper .form-control{
  width: 507px;
  border: 1px solid #8E8E93;
  border-radius: 23px;
  height: 40px;
}

.search-wrapper img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.form-inline button{
  border: 1px solid #8E8E93;
  background: #FFFFFF;
  border-radius: 12px;
  height: 38px;
  width: 38px;
  margin-left: 5px;
}

.form-inline button img{
  right: 15px;
}

.container .auth{
  width: 20%;
  
}

.auth .login{
  border-radius: 24px;
  width: 100px;
  height: 40px;
  color:white;
  background:  #32C43B;
  border: 1px solid  #32C43B;
}

.auth .signup{
  color: #9B9B9B;
  background: #FFFFFF;
  border: 1px solid #9B9B9B;
  border-radius: 24px;
  width: 100px;
  height: 40px;
}

.sidenav {
  height: 100%; 
  left: 0;
  overflow-x: hidden; 
  padding-top: 20px;
}

.menu-wrapper{
  margin-left: 60px;
  margin-top: 80px;
}

.menu-wrapper .user{
  border: 1px solid #456BF3;
  border-radius: 24px;
  background-color: #456BF3;
  width: 32px;
  height: 32px;
  position: relative;
}

.menu-wrapper .user img{
  position: absolute;
  transform: translate(40%,40%);
}

.menu-wrapper .map{
  border: 1px solid #F36F45;
  border-radius: 24px;
  background-color: #F36F45;
  width: 32px;
  height: 32px;
  position: relative;
}

.menu-wrapper .map img{
  position: absolute;
  transform: translate(40%,40%);
}

.menu-wrapper .clipboard{
  border: 1px solid #F3456F;
  border-radius: 24px;
  background-color: #F3456F;
  width: 32px;
  height: 32px;
  position: relative;
}

.menu-wrapper .clipboard img{
  position: absolute;
  transform: translate(40%,40%);
}

.heading-text{
  font-weight: 500;
  font-size: 24px;
}

.subheading-text{
  color: #8E8E93;
}

.save{
  border-radius: 24px;
  width: 100px;
  height: 40px;
  color:white;
  background:  #32C43B;
  border: 1px solid  #32C43B;
}

.greyColorButton{
  color:  #32C43B;
  border: 1px solid  #32C43B;
  background-color: transparent;
}

.greyColorButton:hover{
  background-color: transparent;
  border: 1px solid #2AA952;
  color: #2AA952;
}

.address-border{
  border-style: dotted;
  border-color: #8E8E93;
  height: 100px;
}

.address-border-list {
  border: 1px solid  #32C43B;
  
}

.button-save{
  border-radius: 24px;
  width: 100px;
  height: 40px;
  color:white;
  background:  #32C43B;
  border: 1px solid  #32C43B;
}

.button-cancel{
  color: #32C43B;
  background: #FFFFFF;
  border: 1px solid  #32C43B;
  border-radius: 24px;
  width: 100px;
  height: 40px;
}

.card-body .caption .ikon-plus-minus{
  margin-left: 35px;
}

.card-body .caption .ikon-plus-minus .minus{
  border: 1px solid #D5D5D5;
  background: #D5D5D5;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.card-body .caption .ikon-plus-minus .plus{
  background: #FFFFFF;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.card-body .caption .ikon-plus-minus p{
  font-size: 16px;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 0;
  margin-top: 5px;
}

.card-body .caption .harga, .card-body .harga{
  font-size: 16px;
  font-weight: bold;
  float: right;
  margin-bottom: 0;
  margin-top: 5px;
}

.greytext-wrapper .harga{
  font-size: 16px;
  font-weight: bold;
  float: right;
  margin-bottom: 0;
  color:#848494;
  margin-top: 5px;
}

.col-4 .card-3 .card-body h3{
  font-size: 20px;
  margin-bottom: 30px;
}

.col-4 .card-3 .card-body p{
  color:#848494 ;
}

.col-4 .card-3 .card-body button{
  width: 100%;
  height: 36px;
  border-radius: 25px;
  background: #32C43B;
  margin-top: 15px;
  border: 3px solid  #32C43B;
  color: #FFFFFF;
}

.menu-category p .menu-link{
  color: #9B9B9B;
  text-decoration: none;
  font-size: 14px;
}

.name-detil .nama-produk{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.name-detil .merk{
  font-size: 16p;
  font-weight: 500px;
  color: #9B9B9B;
}
.name-detil .star{
  font-size: 12px;
  color: #9B9B9B;
}

.name-detil .star img{
  width: 18px;
  height: 18px;
}

.name-detil .price-text{
  font-size: 16px;
  font-weight: 500;
  color: #9B9B9B;
}

.name-detil .price{
  font-size: 33px;
  font-weight: 600;
}

.amount-wrapper .add-min-size .min{
  border: 1px solid #D4D4D4;
  background-color: #D4D4D4;
  border-radius: 50px;
  height: 36px;
  width: 36px;
  position: relative;
}

.amount-wrapper .add-min-size p{
  margin-bottom: 0px;
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.amount-wrapper .add-min-size .plus{
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
  border: 1px solid #D4D4D4;
  border-radius: 50px;
  height: 36px;
  width: 36px;
  position: relative;
}

.amount-wrapper p{
  font-size: 16px;
  font-weight: 600;
}

.button .login, .red-button{
  border-radius: 24px;
  width: 400px;
  height: 40px;
  color:white;
  background:  #32C43B;
  border: 1px solid  #32C43B;
}
.button .signup{
  color: #9B9B9B;
  background: #FFFFFF;
  border: 1px solid #9B9B9B;
  border-radius: 24px;
  width: 184px;
  height: 40px;
}

.tengah .informasi-text{
  font-size: 28px;
  font-weight: 600;
}

.tengah .cond-text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

.tengah .new-text{
  font-size: 20px;
  font-size: 500;
  color:  #32C43B;
}

.tengah .desc-text{
  font-size: 20px;
  font-weight: 600;
}

.tengah .p-abu{
  color: #9B9B9B;
  font-size: 14px;
  font-weight: 500;
}

.tengah .review-text{
  font-size: 28px;
  font-weight: 600;
}

.tengah .row-1{
  margin-right: 64px;
}

.tengah .row-1 .big{
  font-weight: 500;
  font-size: 60px;
}

.tengah .row-1 .big .small-grey{
  font-size: 20px;
  color: #9B9B9B;
}

.tengah .row-1 .star img{
  width: 22px;
  height: 22px;
}

.tengah .row-2 p{
  font-size: 14px;
  color: #9B9B9B;
}

.tengah .row-2 img{
  width: 16px;
  height: 16px;
}

.tengah .row-3 hr{
  width: 120px;
  border: 3px solid  #32C43B;
  border-radius: 25px;
  margin-top: 4px;
}

.tengah .row-4{
  color: #9B9B9B;
  font-size: 14px;
}

hr .vertical-line{
  width: auto;
  border: 1px solid #D4D4D4;
}

.sidebar{
  height: calc(100vh - 70px);
  width: 25%;
  background-color: #fff;
}

.content{
  flex: 1;
  background-color: #f5f5f5;
}

.content .profile-edit{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 3%;
  border-radius: 5px;
}

.content .profile-edit .heading{
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.form-control .normal{
  border-radius: 5px ;
}

.content .profile-edit .btn-secondary{
  border-radius: 24px;
  border: 1px solid  #aaa;
  background-color: transparent;
  color: #aaa;
}